<h3>Upload RFP documents here!</h3>
<app-upload-form (onSubmit)="onSubmit($event)">

</app-upload-form>
<div *ngIf="responsebody">
  <label>Would you like to upload this entry?</label>
  <button type="button" class="btn btn-default" (click)="onYes()">Yes</button>
  <button type="button" class="btn btn-default" (click)="onNo()">No</button>
</div>
<app-preview *ngIf="responsebody" [responsebody] = "responsebody"></app-preview>
<div *ngIf="responsebody">
  <button type="button" class="btn btn-default" (click)="onYes()">Yes</button>
  <button type="button" class="btn btn-default" (click)="onNo()">No</button>
</div>
