  <h4>Add RFP</h4>
  <label>
    <input type="checkbox" aria-describedby="highlightHelp" name="useHighlighting" [(ngModel)]="useHighlighting" />
    Only parse highlighted sections of document
    <small id="highlightHelp" class="form-text text-muted">Warning: not highlighting document will most likely result in poor parsing, and not useful data</small>
  </label>

  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <!-- file upload -->
    <div class="form-group">
      <label>File input</label>
      <input class="form-control-file" (change)="fileUploaded($event)" type="file" accept=".docx,.xls,.xlsx" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">Please only submit docx, xls, or xlsx files</small>
    </div>

    <!--companyName-->
    <div class="form-group">
      <label>Company Name</label>
      <ng2-completer [datasource]="companyAggs" [minSearchLength]="1" type="text" class="form-control" formControlName="companyName"></ng2-completer>
      <small *ngIf="!myForm.get('companyName').valid" class="text-danger">
        required
      </small>
    </div>

    <!--date-->
    <div class="form-group">
      <label>Date Submitted</label>
      <input type="date" class="form-control" formControlName="date">
      <small *ngIf="!myForm.get('date').valid" class="text-danger">
        required
      </small>
    </div>

    <div class="form-group">
      <label>Company Type</label>
      <ng2-completer [datasource]="typeAggs" [minSearchLength]="0" type="text" class="form-control" formControlName="companyType"></ng2-completer>
      <small *ngIf="!myForm.get('companyType').valid" class="text-danger">
        required
      </small>
    </div>

    <div class="form-group">
      <label>Service</label>
      <ng2-completer [datasource]="serviceAggs" [minSearchLength]="0" type="text" class="form-control" formControlName="service"></ng2-completer>
      <small *ngIf="!myForm.get('service').valid" class="text-danger">
        required
      </small>
    </div>

    <!--list of tags -->
    <div formArrayName="additionalTags">
      <div *ngFor="let tag of getTagsControls(myForm); let i=index">


        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
        <div [formGroupName]="i" class="form-inline">
          <app-upload-tag [group]="getTagsControls(myForm)[i]"></app-upload-tag>
        </div>
        <div>
          <a><small *ngIf="getTagsControls(myForm).length > 0" (click)="removeTag(i)">
            Remove
          </small></a>
        </div>
      </div>


    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" (click)="addTag()">Add Tag</button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
    </div>
  </form>
