<!-- spaghetti is my favorite kind of code... wait I mean pasta -->
<div>
  <div class="row">
        <div class="col-md-6 offset-md-3">
                <div class="input-group col-md-12"> <!-- passes value in textbox to DataComponent's value on enter or button press-->
                    <input type="text" class="form-control input-lg" placeholder="search" #term (keyup.enter)="searchPress(term.value)" />
                    <span class="input-group-btn">
                        <button (click)="searchPress(term.value)" class="btn btn-info btn-sm" type="button">
                          <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
        </div>
	</div>

  <h3>Filters</h3>
  <label>
    <input type="checkbox" name="useFilter" [(ngModel)]="useFilter" />
    Use Filter
  </label>
  <!--when button is checked, populates list with all keywords from elasticsearch
  gives each a unique ID, when one is populated passes that over to the filtered array
  well, it's not really an array, (see getFilterableFields for details), but we can treat it like one-->
  <form *ngIf="filters && useFilter">
    <div *ngFor="let filter of filters">
      <div class="form-group row">
        <label class="col-1 col-form-label" for="{{filter}}">{{filter}}:</label>
        <div class="col-3">
          <ng2-completer [datasource]="aggsResults | aggs:filter" [minSearchLength]="1" id="{{filter}}" name="{{filter}}" [(ngModel)]="filtered[filter].term[filter]"></ng2-completer>
        </div>
      </div>
    </div>
    <!-- date is special because it's not a keyword, it's a date type. we also want to filter it a different way,
    and it has a different input method. so it gets its own section -->
    <div class="form-group row">
      <label class="col-1 col-form-label" for="date">date:</label>
      <div class="col-3">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-MM-dd"
            name="date" id="date" [(ngModel)]="dateModel" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-addon" (click)="d.toggle()" >
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ul *ngIf="results" class="list-group">
    <li *ngFor="let hit of results | paginate: {itemsPerPage:5, currentPage: p}" class="list-group-item">
      <ul class="list-group">
        <!-- shows snippet of results containing search term
        the values pipe allows us to iterate through an object's properties as if it were an array,
        because ngFor normally doesn't allow that (boo) -->
        <li *ngFor="let x of hit.highlight | values:'key':true" class="list-group-item">
            <!--<div class="col-3" [innerHtml]="x.k"></div>--> <!-- innerHtml makes sure highlighting works properly
                                                            instead of just showing html tags as plain text-->
            <strong>{{x.k}}: </strong><div [innerHtml]="x.childValue"></div>
        </li>
        <li class="list-group-item">
          <strong>Body: </strong><div [innerHtml]="hit.highlight.body"></div>
          <!-- body is separate here and below because the values pipe ignores
            the body field because 1: we know there will always be a body, so there's no need to be flexible about that
            and 2: allows us to choose exactly where we want body to be displayed (in this case, below all the other sections) -->
        </li>
        <li class="list-group-item">
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="Full Details">
              <ng-template ngbPanelContent>
                <ul class="list-group">
                  <li *ngFor="let x of hit._source | values:'key':true" class="list-group-item">
                    <strong>{{x.k}}: </strong> {{x.childValue}}
                  </li>
                  <li class="list-group-item">
                    <strong>body</strong>: <div class="results">{{hit._source.body}}</div>
                  </li>
                </ul>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </li>
      </ul>
    </li>
  </ul>
  <div *ngIf="results">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
